---
layout: base.njk
title: Início
---
<section class="hero">
    <img src="/assets/marca-dagua.png" class="hero-watermark">
    <div class="container">
        <h1>Ensinar. Instruir. Aprender.</h1>
        <p>Portal da Escola Bíblica Dominical Juv Recon.</p>
    </div>
</section>

<div class="container main-grid">
    <section>
        <h2 class="section-header">Últimas Atualizações</h2>
        <div class="feed-grid">
            {%- for post in collections.artigos | reverse -%}
            <div class="card">
                <div style="height: 200px; position: relative; overflow:hidden;">
                    <span class="content-type-badge type-article">ARTIGO</span>
                    <img src="{{ post.data.image }}" style="width:100%; height:100%; object-fit:cover;">
                </div>
                <div class="card-content">
                    <h3 style="font-size: 1.2rem;">{{ post.data.title }}</h3>
                    <p style="font-size: 0.85rem; color: #64748B;">{{ post.data.date | dateFilter }} • {{ post.data.author }}</p>
                    <a href="{{ post.url }}" class="btn btn-outline" style="width: 100%; margin-top: auto;">LER ARTIGO</a>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </section>
    
    </div>